* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #333;
}

.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.top-labels {
    width: 500px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 80px;
    gap: 200px;
    font-size: 22px;
}

h3 {
    margin-top: 20px;
}

#timer-label {
    width: 270px;
    height: 210px;
    display: grid;
    font-size: 25px;
    border: 7px solid #ffffff;
    border-radius: 50px;
    text-align: center;

}
#timer-label>time {
    font-family: digital;
    font-size: 80px;
}

.inc-dec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-family: digital;
}
.time {
    font-size: 20px;
}

button {
    width: 15rem;
    height: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn-1 {
    margin-top: 20px;
    margin-bottom: 0.5rem;
}
button:hover {
    opacity: 0.8;
}
.material-icons {
    color: black;
    font-weight: 800;
}

@media (max-width: 768px) {
    #timer-label {
        height: 150px;
        border-radius: 40px;
        margin-top: 3rem;
    }
    #timer-label>time {
        font-size: 70px;
        margin-top: -1.5rem;
    }
    h3 {
        font-size: xx-large;
        margin-top: 8px;
    }
    button {
        height: 3rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .top-labels {
        width: 300px;
        height: 80px;
        position: absolute;
        top: 140px;
        gap: 60px;
    }
    .title {
        text-align: center;
        font-size: 23px;
        margin-top: -5rem;
        margin-bottom: 1rem;
    }
    .inc-dec {
        gap: 1rem;
        font-size: 12px;
    }
}